.container > [data-viewport-type="element"] > [data-test-id="virtuoso-item-list"] {
  column-count: 2;
  padding: 3px;
}
.create-recipe {
  --border-radius: 1rem;
  margin: 0.5rem;
  --box-shadow: rgb(0 77 64 / 30%) 0px 4px 16px;
  font-family: "Calistoga";
}
.customizeView {
  display: flex;
  align-items: center;
  font-size: small;
  flex-wrap: nowrap;
  width: 100%;
}
.customizeView > ion-col {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

ion-popover.uploadImgPopover::part(content) {
  left: 215px !important;
}
.recipeList {
  height: 78%;
  overflow: auto;
}
