@font-face {
    font-family: "Calistoga";
    src: url("../public/assets/fonts/Calistoga-Regular.ttf");
  }
  @font-face {
    font-family: "Katibeh";
    src: url("../public/assets/fonts/Katibeh-Regular.ttf");
  }
  @font-face {
    font-family: "Oleo";
    src: url("../public/assets/fonts/OleoScript-Regular.ttf");
  }
